body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: crimson;
}

body {
    background: url(https://wallpaperaccess.com/full/25557.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

canvas {
    position: absolute;
}
